.sizeableimages {
    padding:1px;
    border:1px solid #021a40;
    background-color: #ff00;
    width: 600px;
    height: 600px;

}

.school-image{
    padding:1px;
    border:1px solid #021a40;
    background-color: #ff00;

}
